body
{
    background-size: cover;
}
.heading
{
    font-size: 25px;
    width: 100%;
    margin: 10px;
}
#speed,#volume
{
    color: crimson;
    font-size: 23px;
    margin: 15px;
    font-weight: bolder;
    border-radius: 50%;
}
img
{
width: 200px;
border-radius: 50%;
}
.divVolume
{
float: left;
}
.divSpeed
{
float: right;
}
#start
{
    font-size: 30px;
    width: 130px;
}
canvas
{
    border: 5px solid crimson;
    border-radius: 10%;
}
